numpy>=1.21.2
pandas>=1.3.3
pyarrow>=5.0.0
python-dateutil>=2.8.2
ccxt>=1.68.63
ccxtpro @ git+https://github.com/kroitor/ccxt.pro.git@a4e4fec8462ced0ac9b356ec42b9b90cd8a088c4#subdirectory=python
#seaborn>=0.11.2
cufflinks
#shutil
#pickle
XlsxWriter
openpyxl
scipy
matplotlib
websockets>=9.0
python-telegram-bot
dataframe-image